<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='onlycelebs.css') }}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </head>

  <body class="bg-gradient">
    {% block content %}
    {% endblock %}
  </body>
    <script>
    const userBtn = document.getElementById('userMenuButton');
    const dropdown = document.getElementById('userDropdown');

    if (userBtn && dropdown) {
      userBtn.addEventListener('click', () => {
        const isHidden = dropdown.classList.contains('hidden');

        if (isHidden) {
          dropdown.classList.remove('hidden');
          setTimeout(() => {
            dropdown.classList.remove('opacity-0', 'scale-95', 'max-h-0');
            dropdown.classList.add('opacity-100', 'scale-100', 'max-h-40');
          }, 10);
        } else {
          dropdown.classList.remove('opacity-100', 'scale-100', 'max-h-40');
          dropdown.classList.add('opacity-0', 'scale-95', 'max-h-0');
          setTimeout(() => dropdown.classList.add('hidden'), 200);
        }
      });

      // Click anywhere else to close
      document.addEventListener('click', (e) => {
        if (!userBtn.contains(e.target) && !dropdown.contains(e.target)) {
          dropdown.classList.remove('opacity-100', 'scale-100', 'max-h-40');
          dropdown.classList.add('opacity-0', 'scale-95', 'max-h-0');
          setTimeout(() => dropdown.classList.add('hidden'), 200);
        }
      });
    }
  </script>

</html>

